/* jh-style.css */

/* 모바일 최적화 */
@media (max-width: 767px) {
    /* 여기에 모바일에 대한 스타일 규칙 작성 */
  }
  
  /* 버튼 스타일 */
  .btn {
    color: white;
    background-color: pink;
    border-color: pink;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: white;
    color: pink;
  }
  
  /* 질문 가운데 정렬 */
  .card-text {
    text-align: center;
  }
  
  /* 추가적인 스타일 규칙 작성 */
  